<?xml version='1.0' encoding='utf-8'?>
    <plugin id="org.juicyapp.justmusicplayer" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
        <name>JustMusicPlayer</name>
        <js-module name="JustMusicPlayer" src="www/JustMusicPlayer.js">
            <clobbers target="cordova.plugins.JustMusicPlayer" />
        </js-module>
        <platform name="ios">
            <config-file parent="UIBackgroundModes" target="*-Info.plist">
                <array>
                    <string>audio</string>
                </array>
            </config-file>
            <config-file parent="NSAppTransportSecurity" target="*-Info.plist">
                <dict>
                    <key>NSAllowsArbitraryLoads</key>
                    <true />
                </dict>
            </config-file>
            <key>NSAppTransportSecurity</key>
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true />
            </dict>
            <framework framework="true" src="AVFoundation.framework" />
            <framework framework="true" src="MediaPlayer.framework" />
            <config-file parent="/*" target="config.xml">
                <feature name="JustMusicPlayer">
                    <param name="ios-package" value="JustMusicPlayer" />
                </feature>
            </config-file>
            <source-file src="src/ios/JustMusicPlayer.m" />
        </platform>
        <platform name="android">
            <config-file parent="/*" target="res/xml/config.xml">
                <feature name="JustMusicPlayer">
                    <param name="android-package" value="org.juicyapp.justmusicplayer.JustMusicPlayer" />
                </feature>
            </config-file>
            <config-file parent="/*" target="AndroidManifest.xml">
                <uses-permission android:name="android.permission.INTERNET" />
            </config-file>
            <source-file src="src/android/JustMusicPlayer.java" target-dir="src/org/juicyapp/justmusicplayer/JustMusicPlayer" />
            <source-file src="src/android/layout/notification_remote_control.xml" target-dir="res/layout" />
        </platform>
    </plugin>